<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <!-- Css files -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/About.css">
    <link rel="stylesheet" href="css/Blogs.css">
    <link rel="stylesheet" href="css/ContactUs.css">
    <link rel="stylesheet" href="css/Tour.css">
    <title>TraveLore | About Us</title>
</head>

<body>

    {{>navbar2}}


    <!-----------------------------------Entry About us screen  ----------------------------------->




    <section class="hero-wrap-heading-4 animate__animated animate__fadeIn"
        style="background-image:url('images/Banner/banner\ aboutus.jpg');">
        <div class="overlay-heading-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 class="animate__animated animate__fadeInDownBig animate__delay-0s" style="color: white;">
                            About Us</h2>

                    </div>
                </div>
            </div>
    </section>
    <!---------------------------Entry about us screen END HERE ---------------------------------->


    <!-- --------------------------------------About us--------------------------------------- -->
    <section class="jumbotron jumbotron-fluid bg-white">
        <div class="container ">
            <div class="row">
                <div
                    class="col-lg-4 col-md-6 col-12 animate__animated animate__fadeInUp animate_slow animate__delay-0s">
                    <h4 class="display-10">Why Book Holidays with &nbsp; TraveLore?</h4>
                    <hr class="badge-danger">
                    <p class="py-4 text-justify">Travelore.in is the leading online travel company, has a profound
                        understanding of consumers travel needs and preferences. It offers a wide range of holiday
                        packages in India and across the world, catering to various segments of travellers. While the
                        dynamic or customized tour and travel packages give consumers an option to create and design
                        their own holiday, the fixed departure holiday packages have a pre-designed itinerary; thus
                        ensuring there is something to meet the holiday needs of every kind of traveller.</p>
                </div>
                <div
                    class="col-lg-4 col-md-6 col-12 animate__animated animate__fadeInUp animate_slow animate__delay-1s">
                    <h4 class="display-10">What does TraveLore Holidays offer?</h4>
                    <hr class="badge-danger">
                    <p class="py-4 text-justify">TraveLore offers a hassle-free holiday wherein all your travel needs
                        are taken care of. Be it your accommodation in comfortable hotels, convenient transfers, varied
                        sightseeing options and an array of activities to choose from, delectable meals and niche
                        experiences - the holiday packages are designed such to offer you an unparalleled experience. Be
                        it popular destinations such as Andaman, Kerala, Rajasthan and Kashmir, or more offbeat ones
                        like North East, Ladakh and Uttarakhand, there are tailor-made packages for destinations from
                        all over India. From distinctive honeymoon packages to exclusive tour packages for women, from
                        itineraries designed for solo travellers, families with kids and for those who are young at
                        heart - TraveLore has an answer to all our holiday needs.</p>
                </div>
                <div
                    class="col-lg-4 col-md-6 col-12 animate__animated animate__fadeInUp animate_slow animate__delay-2s">
                    <h4 class="display-8">How to book Holidays with TraveLore?</h4>
                    <hr class="badge-danger">
                    <p class="py-4 text-justify">The user-friendly TraveLore website make it easy for enthusiastic
                        travellers to plan and book a holiday simply at the click of a button. Just use the filters and
                        select the city you want to visit along with your travel dates, travel duration, specific
                        preferences, if any, on hotels, kind of holiday, etc. and TraveLore offers you an extensive list
                        of holiday packages to choose from. Pick any package that meets your needs. Else, you could also
                        choose hotels of your choice, add sightseeing and activities to your list and have a package
                        ready that best suits your requirement. You can choose to book your tour packages offline by
                        dropping a query or chatting with our travel experts for immediate support. With TraveLore,
                        planning and buying your ideal holiday has never been easier.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- --------------------------------------About us END HERE--------------------------------------- -->


    <!---------------------------------- Services ---------------------------------->
    <section id="services" class="services section-bg" data-aos="fade-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <h2>Services We Provide</h2>
                        <p>
                            Travelore takes pride in giving the customers a choice of their specific accommodation
                            needs, no matter where – regionally, nationally, and internationally. Certain corporate
                            discounts are available, with preferred accommodation establishments (with bill back
                            facilities). <br>
                            <br>
                            <br><br>
                            TraveLore offers a hassle-free holiday wherein all your travel needs
                        are taken care of. Be it your accommodation in comfortable hotels, convenient transfers, varied
                        sightseeing options and an array of activities to choose from, delectable meals and niche
                        experiences - the holiday packages are designed such to offer you an unparalleled experience.
                        </p>
                    </div>
                </div>
                <!----->
                <div class="col-lg-8" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="icon-circle purple" data-aos="zoom-in" data-aos-duration="650">
                                <div class="icon">
                                    <i class="fas fa-drumstick-bite"></i>
                                </div>
                                <h4 class="text-white">Good Food</h4>
                                <p>Taste the delecious desired foods at the 5 stars hotels.</p>
                            </div>
                        </div>
                        <!---->
                        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="icon-circle pink" data-aos="zoom-in" data-aos-duration="650">
                                <div class="icon">
                                    <i class="fas fa-umbrella-beach"></i>
                                </div>
                                <h4 class="text-white">Beach Resort</h4>
                                <p>Stay at the beach resorts having the perfect sea view</p>
                            </div>
                        </div>
                        <!---->
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-circle yellow" data-aos="zoom-in" data-aos-duration="650">
                                <div class="icon">
                                    <i class="fa fa-hiking"></i>
                                </div>
                                <h4 class="text-white">Mountain-climbing</h4>
                                <p>Fond of adventures so you are at the right place.</p>
                            </div>
                        </div>
                        <!---->
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-circle blue" data-aos="zoom-in" data-aos-duration="650">
                                <div class="icon">
                                    <i class="fa fa-mountain"></i>
                                </div>
                                <h4 class="text-white">Hot Air Ballon</h4>
                                <p>Package includes a free Hot air baloon rides to capture the beauty from top .</p>
                            </div>
                        </div>
                        <!---->


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---------------------------------- Services END HERE---------------------------------->

    <!-- ---------------------------TEAM----------------------------------- -->
    <section class="team section-bg mt-5" data-aos="fade-in">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Team</h2>
                <p class="text-center">People behind the success of Travelore.</p>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img  data-aos="zoom-in" src="images/Team/Team1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>
                        <div class="member-info">
                            <h4>John Doe</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img data-aos="zoom-in" src="images/Team/Team2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                                <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>
                        <div class="member-info">
                            <h4>Chetan</h4>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img data-aos="zoom-in" src="images/Team/Team3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                                <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>
                        <div class="member-info">
                            <h4>Rancy blem</h4>
                            <span>Marketing head</span>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img data-aos="zoom-in" src="images/Team/Team5.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                                <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>
                        <div class="member-info">
                            <h4>Bill gates</h4>
                            <span>Consultant</span>
                        </div>
                    </div>
                </div>
                <!---->



            </div>
        </div>
    </section>
    <!-- ---------------------------TEAM END HERE----------------------------------- -->



    {{>footer}}
{{>scripts}}

</body>

</html>