<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <!-- Css files -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/About.css">
    <link rel="stylesheet" href="css/Blogs.css">
    <link rel="stylesheet" href="css/ContactUs.css">
    <link rel="stylesheet" href="css/Tour.css">
    <title>TraveLore | Blogs & News</title>
</head>

<body>

    {{>navbar2}}


    <!-----------------------------------Entry Blog screen  ----------------------------------->

    <section class="hero-wrap-heading-3 animate__animated animate__fadeIn"
        style="background-image:url('images/Banner/banner\ blog.jpg');">
        <div class="overlay-heading-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 class=" animate__animated animate__fadeInDownBig animate__delay-0s" style="color: white;">
                            Our Blog</h2>
                        <span class="animate__animated animate__fadeInRightBig animate__delay-0s"
                            style="color: white;">Blogs posted by Travellors and Trending News</span>
                    </div>
                </div>
            </div>
    </section>
    <!---------------------------Entry Blog screen END HERE ---------------------------------->


    <!-- --------------------------------------Blogs --------------------------------------- -->

    <div id="blog" class="blog">
        <div class="container">

            <div class="row " data-aos="fade-in">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margbox">
                    <div class="blog-box"  data-aos="fade-up">
                        <figure><img data-aos-"zoom-in" src="images/blog/blog-image.jpg" alt="#" />
                            <span>4 Feb 2019</span>
                        </figure>
                        <div class="travel">
                            <span>Post By : Travel Agency</span>
                            <p><strong class="Comment"> 11 </strong> Comment</p>
                            <p><strong class="like">409 </strong>Like</p>
                        </div>
                        <h3>Hills Amazing Tour</h3>
                        <p>Kiersten’s site focuses on the intersection of fashion and travel. She gives tips and advice
                            for women on what wear, pack, and see while overseas and focuses more on higher-end, comfort
                            travel than I do. I think her blog is one of the best for female travelers and, though it’s
                            not targeted to me, I find useful information that I share with others. Kiersten and I are
                            friends, and I love seeing her site grow and expand, especially over the last year. She
                            seems to be everywhere!</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margbox">
                    <div class="blog-box"  data-aos="fade-up">
                        <figure><img data-aos-"zoom-in" src="images/blog/blog-image0.jpg" alt="#" />
                            <span>10 Dec 2019</span>
                        </figure>
                        <div class="travel">
                            <span>Post By : Youtube Nadine</span>
                            <p><strong class="Comment"> 13 </strong> Comment</p>
                            <p><strong class="like">209 </strong>Like</p>
                        </div>
                        <h3>Youtuber Nadine Trip</h3>
                        <p>This popular YouTube channel by Nadine Sykora documents her experiences as she travels around
                            the world. Nadine’s zany, nerdy take on travel makes her videos entertaining to watch! She’s
                            funny, smart, and a bit awkward, but her filmmaking style really puts you there in the
                            destination with her. There’s a reason she’s one of the biggest travel channels on YouTube!
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margbox">
                    <div class="blog-box"  data-aos="fade-up">
                        <figure><img data-aos-"zoom-in" src="images/blog/blog-image1.jpg" alt="#" />
                            <span>29 Jan 2021</span>
                        </figure>
                        <div class="travel">
                            <span>Post By : Travel Freak</span>
                            <p><strong class="Comment"> 06 </strong> Comment</p>
                            <p><strong class="like">87 </strong>Like</p>
                        </div>
                        <h3>Snow everywhere </h3>
                        <p>Jeremy is a travel blogger with an exceptional eye for photography. He’s been traveling for
                            more than a decade now, and his blog is like an art gallery where you will find
                            extraordinary pieces featuring different kinds of scenery from the most diverse places.
                            Check out his website and see for yourself why Forbes, New York Times, and Vanity Fair
                            consider Jeremy worth mentioning.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margbox">
                    <div class="blog-box"  data-aos="fade-up">
                        <figure><img data-aos-"zoom-in" src="images/blog/blog-image3.jpg" alt="#" />
                            <span>13 Aug 2021</span>
                        </figure>
                        <div class="travel">
                            <span>Post By : Henry Blogs</span>
                            <p><strong class="Comment"> 17 </strong> Comment</p>
                            <p><strong class="like">47 </strong>Like</p>
                        </div>
                        <h3>Pack your bags</h3>
                        <p>My kindred spirit, Earl is a vagabonding nomad backpacker like myself. We both love budget
                            travel, backpacking, blogging, and everything in between (and yes, we’re good friends in
                            real life too). I read Earl’s blog because he goes to places few people ever visit
                            (Kurdistan, anyone?) and tells raw, honest travel stories that don’t sugarcoat the travel
                            experience. Very few blogs do that, and for that</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------------------------------Blogs END HERE--------------------------------------- -->


    <!------------------------------------- Latest News -------------------------------->
    <section id="news" class="news" data-aos="fade-in">
        <div class="container">
            <div class="news-details">
                <div class="gallary-header text-center">
                    <h2 class="font-weight-bold">
                        latest news
                    </h2>
                    <hr class="w-25 mx-auto">
                    <p>
                        Travel News from all over the world
                    </p>
                </div>
                <div class="news-content" data-aos="fade-up">
                    <div class="row">

                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                <h2>trending news <span>15 november 2020</span></h2>
                                <div class="thumbnail-img">
                                    <img src="images/News/news1.jpg" alt="news-img">
                                    <div class="thumbnail-img-overlay"></div>

                                </div>

                                <div class="caption">
                                    <div class="news-txt">
                                        <h3>
                                            <a href="#">
                                                The rise of revenge travel post Covid-19 second wave all tours
                                                postponded
                                            </a>
                                        </h3>
                                        <p>
                                            As the summers are getting harsher in India, Africa and other adjoining
                                            Northern states, coupled with the newfound freedom from the second wave and
                                            resultant lockdowns has led to the trend of ‘revenge travel’. It is why many
                                            have been flocking to the hills, and even flouting important Covid- 19 norms
                                        </p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                <h2>trending news <span>12 january 2021</span></h2>
                                <div class="thumbnail-img">
                                    <img src="images/News/adventure.jpg" alt="news-img">
                                    <div class="thumbnail-img-overlay"></div>

                                </div>
                                <div class="caption">
                                    <div class="news-txt">
                                        <h3>
                                            <a href="#">
                                                Circle of Enigma: Visiting the stone circle at Castlerigg in England's
                                                Lake District
                                            </a>
                                        </h3>
                                        <p>
                                            The stone circle is not a perfect sphere, yet not a scattering of monoliths
                                            in random pattern, either. The day we visited, there was a cool breeze
                                            blowing, the sky held huge banks of grey cloud and altogether, the
                                            grey-green-stone landscape made for a magnificently moody ambience.


                                        </p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                <h2>trending news <span>15 may 2021</span></h2>
                                <div class="thumbnail-img">
                                    <img src="images/News/news2.jpg" alt="news-img">
                                    <div class="thumbnail-img-overlay"></div>

                                </div>
                                <div class="caption">
                                    <div class="news-txt">
                                        <h3><a href="#">When you travel alone, be ready to face risks too: Nidhi Sosa
                                                Kurien</a></h3>
                                        <p>
                                            Nidhi Sosa Kurien, a creative content head at a movie production house in
                                            Panampilly Nagar and mother of two, believes that responsibilities at home
                                            or workplace shouldn’t stop anyone from chasing happiness. We caught up with
                                            her about her recent solo drive around the country Russia.


                                        </p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <!------------------------------------- Latest News END HERE-------------------------------->


    {{>footer}}

{{>scripts}}

</body>

</html>