<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <!-- Css files -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/About.css">
    <link rel="stylesheet" href="css/Blogs.css">
    <link rel="stylesheet" href="css/ContactUs.css">
    <link rel="stylesheet" href="css/Tour.css">
    <title>TraveLore | Explore The World</title>
</head>

<body>

    {{>navbar2}}


    <!-----------------------------------Entry home screen  ----------------------------------->

    <section class="hero-wrap animate__animated animate__fadeIn"
        style="background-image:url('images/Banner/Home1.jpg');">
        <div class="overlay"></div>
        {{#if active}}
        <div class="alert alert-{{type}}">
            <strong>{{heading}}</strong> {{message}}
            <button type="button" class="btn-close alert-close" data-bs-dismiss="alert" aria-label="Close">❌</button>
            
        </div>

        {{/if}}
        <div class="container">

            <div class="row no-gutters main-text align-items-center">
                <div class="col-lg-7 col-md-6 d-flex align-items-end">
                    <div class="text">
                        <h1
                            class="mb-4 text-capitalize animate__animated animate__backInDown animate__delay-0.4s animate__slower ">
                            Planning Trip To <br>
                            Anywhere in the <br>
                            World ?
                        </h1>
                        <p style="font-size:18px;"
                            class="animate__animated animate__backInRight animate__delay-1.7s animate__slower">
                            We assist you to choose the best</p>
                        <a href="/tours" class="btn btn-hero py-2 px-3">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---------------------------Entry home screen END HERE ---------------------------------->

    <!----------------------------- Welcome screen --------------------------------------->
    <section class="about-section mt-5" data-aos="fade-in">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <h2 class="text-black mb-2">Welcome To TraveLore</h2>
                    <p>From historical cities to natural splendours, come see the best tours and packages with Travelore
                    </p>
                </div>
            </div>
            <div class="row img-wrap mb-5 mb-lg-0" data-aos="fade-up">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                            <a href="#" class="effect">
                                <img src="images/Welcome/culture.png" alt="" class="img-fluid ">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                            <h2 class="text-black">Culture</h2>
                            <p class="mb-4">
                                It is believed that Indian culture is unique in the world. It is because India has
                                diversity in many religions, castes, ethnicity, and race. India is one of the countries
                                in Asia. Also, India is the seventh-largest country in the world by area whereas India
                                is the second-most populated country in the world.
                            </p>
                            <a href="/aboutUs" class="btn btn-about btn-hero">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="row img-wrap mb-5 mb-lg-0" data-aos="fade-up">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 margin-lg-0 col-lg-6">
                            <a href="#" class="effect">
                                <img src="images/Welcome/History.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center order-lg-1">
                            <h2 class="text-black">History</h2>
                            <p class="mb-4">
                                The popular conception of history as simply a record of past events seems to have as an
                                obvious corollary history's basic unchangeability. History is often seen as a vast array
                                of facts, arranged more or less chronologically, unalterable except for the occasional
                                unearthing of a lost city of the discovery of a trunk full of letters in an attic.
                            </p>
                            <a href="/aboutUs" class="btn btn-about btn-hero">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="row img-wrap mb-5 mb-lg-0" data-aos="fade-up">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                            <a href="#" class="effect">
                                <img src="images/Welcome/Nature1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                            <h2 class="text-black">Nature</h2>
                            <p class="mb-4">
                                I declare this world is so beautiful that I can hardly believe it exists.” The beauty of
                                nature can have a profound effect upon our senses, those gateways from the outer world
                                to the inner, whether it results in disbelief in its very existence as Emerson notes, or
                                feelings such as awe, wonder, or amazement.
                            </p>
                            <a href="/aboutUs" class="btn btn-about btn-hero">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
        </div>
    </section>
    <!-- --------------------------Welcome screen END HERE------------------------------------->

    <!-- --------------------------------Popular Destinations --------------------------------->
    <section>
        <!-- Popular Places -->
        <div class="popular section-bg img-effect mt-5" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title text-center">
                            <h1 class="text-white">Popular Places </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Other Popular  -->
        <div class="all-image" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5">
                        <div class="single-img">
                            <div class="img-thumb">
                                <img src="images/Popular places/france.jpg" alt="">
                            </div>
                            <div class="img-hover">
                                <div class="title">
                                    <h3>France</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="single-img">
                            <div class="img-thumb">
                                <img src="images/Popular places/heritage_tour.jpg" alt="">
                            </div>

                            <div class="img-hover">
                                <div class="title">
                                    <h3>India</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single-img radial">
                            <div class="img-thumb">
                                <img src="images/Popular places/Germany2.jpg" alt="">
                            </div>
                            <div class="img-hover">
                                <div class="title">
                                    <h3>Germany</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single-img radial">
                            <div class="img-thumb">
                                <img src="images/Popular places/mexico.jpg" alt="">
                            </div>
                            <div class="img-hover">
                                <div class="title">
                                    <h3>Mexico</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-lg-4">
                        <div class="single-img radial">
                            <div class="img-thumb">
                                <img src="images/Popular places/United States2.jpg" alt="">
                            </div>
                            <div class="img-hover">
                                <div class="title">
                                    <h3>United States</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- --------------------------------Popular Destinations END HERE --------------------------------->

    <!-- ----------------------------45% OFF------------------------------------------- -->
    <section class="banner" data-aos="fade-in">
        <div class="banner-highlights">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Get 30% off on top destinations</h2>
                        <p>Book your tickets before 31st march to avail 30% off discount</p>
                    </div>
                    <div class="col-md-4 ">
                        {{!-- <button type="button" class="booking-btn"> <a href="/tours"> Book Now </a> </button> --}}
                        <a href="/tours" class="booking-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ----------------------------45% OFF END HERE------------------------------------------- -->

    <!------------------------------------------ Gallery --------------------------------------------->
    <section class="gallery-block compact-gallery" data-aos="fade-in">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h2 class="font-weight-bold">Gallery</h2>
                <hr class="w-25 mx-auto">
            </div>

            <div class="row no-gutters" data-aos="fade-up">
                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/1.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/1.jpg">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/2.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/2.jpg">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/3.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/3.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/4.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/4.jpg">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/5.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/5.jpg">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/6.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/6.jpg">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/7.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/7.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/8.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/8.jpg">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/9.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/9.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/10.jpg">
                        <img class="img-fluid  img-thumbnail image" src="Images/Gallery/10.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/11.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/11.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 item zoom-on-hover" data-aos="zoom-in" data-aos-duration="650">
                    <a class="lightbox" href="Images/Gallery/12.jpg">
                        <img class="img-fluid img-thumbnail  image" src="Images/Gallery/12.jpg">
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!------------------------------------- Gallery END HERE--------------------------------------------->

    <!------------------------------------------ Client Reveiws ------------------------------------>


    <section class="users-feedback" data-aos="fade-in">
        <div class="text-center mb-5">
            <h2 class="font-weight-bold">Users Feedback</h2>
            <hr class="w-25 mx-auto">
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-review">
                        <p>It was a wonderful experience for us. All your arrangements were up to the mark.
                            All hotels and transportation arrangements were excellent.Hotel at Kedarnath you handled it swiftly and efficiently.</p>
                        <h5>Jenny rosevolt</h5>
                        <small>Tourist 4th batch</small>
                    </div>
                    <img src="images/Client/client1.jpg" alt="loading" srcset="">
                </div>
                <div class="col-md-4">
                    <div class="user-review">
                        <p>How are you doing? Hope you are doing well.
                            We had a great trip in India for 6days
                            And my family and I we can say that we have received a great service from your team.Thanks for the smooth Tour.</p>
                        <h5>George</h5>
                        <small>MBA student</small>
                    </div>
                    <img src="images/Client/client2.jpg" alt="loading" srcset="">
                </div>
                <div class="col-md-4">
                    <div class="user-review">
                        <p>We have just got back from our long holiday around South India.
                            Just wanted to say how much we enjoyed our trip' how we felt so looked after and how well
                            our driver Uday took us around.
                            Many thanks</p>
                        <h5>Guddu Pandit</h5>
                        <small>Tourist guide</small>
                    </div>
                    <img src="images/Client/Client4.jpg" alt="loading" srcset="">
                </div>
            </div>
        </div>
    </section>
    <!------------------------------------------ Client Reveiws END HERE------------------------------------>


    {{>footer}}

   {{>scripts}}

</body>

</html>