<!-- ---------------------------------------------Footer ------------------------------------------------------->
    <footer id="footer">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Subscribers List To Get Regular Update</h4>
                        <p>We Will Send You Best Offers For Your Trip</p>
                        <form action="\subscribe" method="POST">
                            <input type="email" name="email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
                <div class="footerext">
                    <div class="row">

                        <div class="col-md-4">
                            <h4>Features</h4>
                            <p>Deals In Offers</p>
                            <p>Customer Reveiws</p>
                            <p>Cancellation Policy</p>
                        </div>
                        <div class="col-md-4">
                            <h4>Quick Contact</h4>
                            <p><i class="fa fa-home"></i> Amrapali, Haldwani ,11016</p>
                            <p><i class="fa fa-phone-square"></i> ++ 1235 2355 98</p>
                            <p><i class="fa fa-envelope"></i> Travelore@gmail.com</p>
                            <p><i class="fa fa-globe"></i> Travelore.com</p>
                        </div>
                        <div class="col-md-4">
                            <h4>Follow Us On</h4>
                            <p><i class="fa fa-facebook-official"></i> Facebook</p>
                            <p><i class="fa fa-youtube"></i> YouTube</p>
                            <p><i class="fa fa-twitter"></i> Twitter</p>

                        </div>
                    </div>

                </div>
            </div>


            <div class="container py-4">
                <div class="copyright">
                    &copy;Copyright<strong><span>Travelore</span></strong>
                    .All Rights Reserved
                </div>
                <div class="credits">
                    Designed by<a href="#">TraveloreEdits</a>
                </div>
            </div>
    </footer>
    <!-- ---------------------------------------------Footer END HERE------------------------------------------------------->