/*about us*/

.hero-wrap-heading{
    width:100%;
    height:400px;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index:0;
}
.hero-wrap-heading .overlay-heading{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:"";
    opacity: .5;
    background: #222324;
    height: 400px;
}

.aboutimg{
	width: 100%;
	height: 250px!important;
}


/* Services section */
.services .icon-circle{
    text-align: center;
    padding: 40px 20px;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 4px rgba(19,19,19,0.5);
}
.services .icon-circle.purple{
    background: #3e0283;
    color:#fff;
}
.services .icon-circle.pink{
    background: #c405ca;
    color:#fff;
}
.services .icon-circle.yellow{
    background: #f7a91a;
    color:#fff;
}
.services .icon-circle.blue{
    background: #021633;
    color:#fff;

}
.services .icon-circle .icon{
    margin:0 auto;
    width: 64px;
    height:64px;
    border-radius: 50px;
    border:1px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
    transition: ease-in-out 0.3s;
    color: #fff;
}
.services .icon-circle .icon i{
    font-size: 28px;
}
.services .icon-circle h4{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}
.services .icon-circle p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.services .icon-circle:hover{
    border-color: #025277;
    box-shadow: 0px 0 25px 0 rgba(3,75,122,0.1);
}
.services .icon-circle:hover .icon{
    color:#fff;
    background: #004299;
}

/* Team member==== */
.team .member{
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}
.team .member .member-img{
    position: relative;
    overflow: hidden;
}
.team .member .social{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out .3s;
    text-align: center;
    background: rgba(255,255,255,0.8);
}
.team .member .social a{
    transition: color 0.3s;
    color: #000;
    margin:0 10px;
    padding-top:8px;
    display: inline-block;
}
.team .member .social a:hover{
    color:#2181ff;
}
.team .member .social i{
    font-size: 18px;
    margin:0 2px;
}
.team .member .member-info{
    padding: 25px 15px;
}

.team .member .member-info h4{
    font-weight: bold;
    margin-bottom:5px;
    font-size: 18px;
    color:#000;
}

.team .member .member-info span{
    display:block ;
    font-size: 14px;
    font-weight: lighter;
    color:#000;
}

.team .member .member-info p{
    font-style: italic;
    font-style: 15px;
    line-height: 26px;
    color:#000;
}

.team .member:hover .social{
    opacity: 1;
}